* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: white;
}

main{
    margin-left: 650px;
    margin-right: 650px;
}

h1{
    font-family: monospace;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: lightslategrey;
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin-left: 550px;
    margin-right: 550px;
}

.navbar li{
    float: left;
    line-height: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-family: cursive;
    cursor: pointer;
    border-radius: 20px;
}

.navbar a:hover{
    background-color: black;
    color: aqua;
}
 
.navbar a.active {
    background-color: black;
    border-radius: 20px;
}

